:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.layout{
  width: 85%;
  margin: 0 auto;
}

.header{
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #000000;
  margin-bottom: 35px;
}


.header .logo{
  flex-grow: 2;
  display: flex;
}
.header .nav{
  flex-grow: 1;
}

.header .logo span{
  display: block;
  font-size: 95px;
  font-weight: bolder;
  margin-top: -15px;
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: lighter;
  text-transform: uppercase;
}

.header nav ul {
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}


.header li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a{
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.header a:hover{
  color: #f77f00;
}

.content{
  min-height: 200px;
}

.header li a.actived{
  color: #f77f00;
}

.footer{
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  border-top: 2px solid #fcbf49;
  padding-top: 45px;
  background: #edebeb;
  min-height: 50px;
  line-height: 8px;
  color: #444;
  font-weight: lighter;
}


.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 80px;
}

.home strong{
  color: #f77f00;
}

.home h2{
  color: rgb(98, 97, 97);
  font-weight: lighter;
}

.home a {
  background: #f77f00;
  text-decoration: none;
  font-weight: 400;
  color: #ffff;
  padding: 5px;
  border-radius: 5px;
  transition: all 300ms;
}

input[type="submit"]:hover,
button:hover,
.home a:hover{
  background: #003049;
}

.page .heading,
.home .heading{
  font-weight: 500;
  font-size: 38px;
  color: #000000;
  margin-bottom: 0px;
}

.page .heading{
  font-weight: bold;
  font-size: 45px;
}

.home p {
  color: rgb(98, 97, 97);
}

input[type="text"],
textarea{
  display: block;
  padding: 12px;
  margin-top: 25px;
  width: 30%;
  border: 0px;
  background: #edebeb;
  border-radius: 3px;
}

input[type="submit"],
button{
  background: #f77f00;
  text-decoration: none;
  font-weight: 400;
  color: #ffff;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
  transition: all 300ms;
  margin-top: 15px;
  transition: all 300ms;
  cursor: pointer;
}

.projects{
  display: flex;
  flex-wrap: wrap;
}
.itemProject{
  flex-grow: 1;
  flex-basis: 35%;
  margin: 20px;
}

.itemProject .mask{
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgb(98, 97, 97);
}

.itemProject img{
  width: 100%;
  margin-top: -35px;
  transition: all 500ms;
}


.itemProject .mask:hover img{
  width: 150%;
  margin-right: 10%;
}

.itemProject span{
  display: block;
  color: #444;
  margin-top: 25px;
}

.itemProject h2{
  display: block;
  color: #000000;
  margin-top: 5px;
  font-size: 30px;
  margin-bottom: 10px;
}

.itemProject a{
  color: #000000;
  text-decoration: none;

}

.itemProject a:hover{
  color: #f77f00;
  transition: all 300ms;

}

.itemProject h3{
 display: block;
 color: rgb(98, 97, 97);
 margin-top: 5px;
 border-top: 1px solid #003049;
 padding-top: 15px;
 font-weight: 400;
}